body{font-family: Arial, Helvetica, sans-serif;
    margin: 30px;

}
h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
}

.Paragrafo-2 {
    margin-top: 10px;

}



h2{

    border-bottom:3px solid #3D3D3D;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    width: 940px;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    color: lightgrey;
    width: 940px;
}